@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
body{
  width: 100%;
  height: 1000px;
  background: #f2f2f2;
}
nav{
  z-index: 50;
  position: fixed;
  width: 100%;
  background: #171c24;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  padding: 0 50px;
  /* position: fixed;
  top: 0; */
}
nav .logo{
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: -1px;
  padding-left: 20px;
}
.dark-light{
    color: white;
    padding-right: 20px;
    width: 35px;
}
.i0{
    margin-top: 2px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
}
nav .nav-items{
  display: flex;
  flex: 1;
  padding: 0 0 0 30px;
}
nav .nav-items li{
  list-style: none;
  padding: 0 15px;
}
nav .nav-items li a{
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
}
nav .nav-items li a:hover{
  color: #ff3d00;
}
nav form{
  display: flex;
  height: 40px;
  padding: 2px;
  background: white;
  min-width: 18%!important;
  border-radius: 2px;
  border: 1px solid rgba(155,155,155,0.2);
}
nav form .search-data{
  width: 100%;
  height: 100%;
  padding: 0 10px;
  color: #fff;
  font-size: 17px;
  border: none;
  font-weight: 500;
  background: none;
}
nav form button{
  padding: 0 15px;
  color: #fff;
  font-size: 17px;
  background: #ff3d00;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}
nav form button:hover{
  background: #e63600;
}
nav .menu-icon,
nav .cancel-icon,
nav .search-icon{
  width: 40px;
  text-align: center;
  margin: 0 50px;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  display: none;
}
nav .menu-icon span,
nav .cancel-icon,
nav .search-icon{
  display: none;
}
@media (max-width: 1245px) {
  nav{
    padding: 0 50px;
  }
}
@media (max-width: 1150px){
  nav{
    padding: 0px;
  }
  nav .logo{
    flex: 2;
    text-align: center;
  }
  nav .nav-items{
    position: fixed;
    z-index: 99;
    top: 70px;
    width: 100%;
    left: -100%;
    height: 100%;
    padding: 10px 50px 0 50px;
    text-align: center;
    background: #14181f;
    display: inline-block;
    transition: left 0.3s ease;
  }
  nav .nav-items.active{
    left: 0px;
  }
  nav .nav-items li{
    line-height: 40px;
    margin: 30px 0;
  }
  nav .nav-items li a{
    font-size: 20px;
  }
  nav form{
    position: absolute;
    top: 80px;
    right: 50px;
    opacity: 0;
    pointer-events: none;
    transition: top 0.3s ease, opacity 0.1s ease;
  }
  nav form.active{
    top: 95px;
    opacity: 1;
    pointer-events: auto;
  }
  nav form:before{
    position: absolute;
    content: "";
    top: -13px;
    right: 0px;
    width: 0;
    height: 0;
    z-index: -1;
    border: 10px solid transparent;
    border-bottom-color: #1e232b;
    margin: -20px 0 0;
  }
  nav form:after{
    position: absolute;
    content: '';
    height: 60px;
    padding: 2px;
    background: #1e232b;
    border-radius: 2px;
    min-width: calc(100% + 20px);
    z-index: -2;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  nav .menu-icon{
    display: block;
  }
  nav .search-icon,
  nav .menu-icon span{
    display: block;
  }
  nav .menu-icon span.hide,
  nav .search-icon.hide{
    display: none;
  }
  nav .cancel-icon.show{
    display: block;
  }
}

.space{
  margin: 10px 0;
}
nav .logo.space{
  color: red;
  padding: 0 5px 0 0;
}
@media (max-width: 980px){
  nav .menu-icon,
  nav .cancel-icon,
  nav .search-icon{
    margin: 0 20px;
  }
  nav form{
    right: 30px;
  }
}
@media (max-width: 350px){
  nav .menu-icon,
  nav .cancel-icon,
  nav .search-icon{
    margin: 0 10px;
    font-size: 16px;
  }
}
.Image-folder{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px;
}
.i1{
    width: 750px;
    /* height: 250px; */
    border-radius: 0%;
    /* top: -50%; */
    /* left: 100%; */
}
.banner{
  /* margin-top: 10px; */
  display: grid;
  place-items: center center;
  font-family: 'Pappins',sans-serif;
}
.cards{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
  padding: 20px;
  grid-gap: 40px;
  cursor: pointer;
}
.card{
  background-color: #1c1b29;
  border-radius: 20px;
  box-shadow: 0 0 30px rgba(0,0,0,0.18);
}
.container{
  position: relative;
  clip-path: polygon(0 0,100% 0,100% 85%,0 100%);
}
.image{
  width: 100%;
  display: block;
  border-radius: 20px 20px 0 0;
  /* clip-path: ploygon(0,0,100% 0,100% 85%,0 100%); */
}
.container::after{
  content: '';
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 20px 20px 0 0;
  opacity: 0.4;
}
.card1>.container::after{
  background-image: linear-gradient(135deg,#0100ec,#fb36f4);
}
.card2>.container::after{
  background-image: linear-gradient(135deg,#2bdce3,#42ffdb);
}
.card3>.container::after{
  background-image: linear-gradient(135deg,#ffab1d,#f8501c);
}
.details{
  padding: 20px 10px;
}
.details>h2{
  color: #ffffff;
  font-weight: 600;
  font-size: 18px;
  margin: 10px 0 15px 0;
}
.details>h3{
  color: #ffffff;
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
}
  #id{
  position: relative;
  width: 50%;
  height: fit-content;
  border-radius: 0%;
  top: 150px;
}


